#wrapper-content{
	width:725px;
	height:280px;
}
#side-nav{
	position:relative;
	float:left;
	margin-top:13px;
	margin-left:0px;
	margin-right:0px;
	width:190px;
	height:162px;
	visibility:hidden;
}
.kupi-sist-bl {
    float: left;
    width: auto;
    height: 26px;
    padding: 2px 9px 0 6px;
    margin: 0px 6px 0 5px;
    font: bold 14px "Century Gothic";
    color: #fff;
    background: url(http://cooler.by/index/cena_komp1.png) repeat-x;
    border: 1px solid #da5353;
    border-radius: 2px;
}
#side-nav a{
	/*color:#fff;	*/
	color:#555;
	text-decoration:none;
	font-weight:bold;
	display:block;
	width:189px;
	height:40px;

}
#side-nav span:hover {
    text-decoration: none;
}
#side-nav span{
	float:right;
	margin-right:5px;
	margin-top:12px;
	cursor:pointer;
	text-decoration: none;   
}
.row-24 {
	position:relative;
	clear:left;
	clear:right;
	width:100%;
	height:40px;
} 
.row-24 :hover {
    cursor:pointer;
    background-color: #F0F0F0;   
    border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px; 
}  
.section-1 {
	background-color:#ff4343;
	cursor: pointer;
	margin-top:0;
    border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
} 
.section-1a{
	display:none;
    color: #555;
}
.section-2{
	background-color:#ff4343 ;
    cursor: pointer;
    border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
}
.section-3{
	background-color:#ff4343;
	cursor: pointer;
    border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
}
.section-4{
	background-color:#ff4343;
	cursor: pointer;
    border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
}
.section-5{
	background-color:#ff4343;
	cursor: pointer;
    border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
}
.section-6{
	background-color:#ff4343;
	cursor: pointer;
    border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
}
.remove-right-border{
	border:none;
}
.remuve-background-color {
    background-color: #ffffff;
}
#main-container-background{
	position:relative;
	margin-left:0px;
	width:510px;
	/*height:273px;*/
	height:1833px;
	/*border:1px solid red;*/
	background-color:#FFFDFD;
	/*background-image:url('images/map-manhattan-1-2009-10-26_07_46_39.jpg');
	background-repeat:no-repeat;*/
}
#main-container{
	position:relative;
	float:left;
	width:510px;
	height:270px;
	/*border:1px solid red;
	background-color:#fff;
	background-image:url('images/map-manhattan-1-2009-10-26_07_46_39.jpg');
	background-repeat:no-repeat;*/
	overflow:scroll;
	border-left:0px solid #aaa;
	/*overflow-x: hidden;*/
}
.row-273{
	position:relative;
	/*margin-left:2px;
	margin-bottom:3px;*/
	clear:left;
	clear:right;
	width:100%;
	/*#width:95%;*/
	height:260px;
	/*border:1px solid yellow;*/
}

.row-273 img{
	border:none;
	margin-left:0px;
}
.row-273 img.first{
	margin-left:0;
}

.row-273 a.outbound,a.outbound:link{
	color:#7E8DE8;
}
.row-273 a.outbound:hover{
	color:#999;
}
.row-273 a.outbound-2{
	color:#7E8DE8;
	font-weight:bold;
	text-decoration:none;
}

#wrapper-footer{
	position:relative;
	top:0;
	left:0;
	/*border:1px solid red;*/
	width:206px;
	height:206px;
	display:none;
}

.smaller{
	font-size:13px;
}
.smaller-9{
	font-size:9px;
	color:#000;
}
.clear{
	position:relative;
	clear:left;
	clear:right;
	padding:5px;
}
.top{
	position:absolute;
	right:5px;
	bottom:5px;
}
.line-height{
	line-height:130%;
}

.overlay{
	z-index:100;
	color:#474848;
	width:500px;
	padding: 15px 3px 0px 0px;
	margin-left: 10px;
	text-align:justify;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 13px;
}

/**** HIDDEN ELEMENTS *********/
.top{
	display:none;
}
#mobile-header{
	display:none;
}