/* Right */

#right {
    float: left;
    width: 729px;
	margin-left: 10px;
}
#right h1{
    margin: -7px 0 0 15px;
    letter-spacing: 0px;
	font: normal 19px "trebuchet ms";
	color: #f43939;
}
#text {
    border-top: 1px solid;
	border-bottom: 1px solid;
	text-align: justify;
	padding: 10px 30px 10px 16px;
	margin-top: 4px
}
#wb_Form2 {
    position: relative;
}

#text_footer {
    text-align: justify;
    margin: 18px 22px 5px 14px;
}